.topbar {
	z-index: 1;
	background-color: white;
	font-size: 1.5em;
	font-weight: bold;
	border-bottom: 1px solid #cccccc;
}

.topbar-container {
	margin-left: 1em;
  margin-top: .2em;
  /*margin-bottom: 2em;*/
}

.topbar-item {
	display: inline;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.blog {
	margin-left: 1em;
}

.name {
	margin-top: 4%;
	text-align: center;
	font-weight: bold;
}

.title {
	text-align: center;
	color: #F76935;
}

.contact {
	padding-top: 5%;
	text-align: center;
	margin-bottom: 15%;
}

.icon-container {
	margin-left: auto;
	margin-right: auto;
	width: 30%;
}

.icon {
	padding-top: 1em;
}

a:link {
	color: black;
}

a:hover {
	text-decoration: none;
}

.right {
	border-top: 1px solid #E3E3E3;
}

.left-one {
	background-color: #5f80c4;
}

.left-two {
	background-color: #E3E3E3;
}

.left-three {
	border-right: 1px solid #E3E3E3;
}

.left-four {
	background-color: #f9e58d;
}

.img-responsive {
	margin-top: 1em;
	margin-bottom: 1em;
	max-width: 70%;, height: 70%;
}

.project-title {
	padding-top: 1em;
}
.right h1 {
	text-align: center;
	margin-top: -.5em;
}

.content {
	margin-top: 2em;
	margin-left: 2em;
	margin-right: 2em;
	text-align: center;
	font-size: 1.5em;
}


.tree {
	margin-left: 36%;
	position: relative;
}

.tree-container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35%;
  width: 241px;
}

.box {
	margin-left: 40%;
	margin-top: 35%;
  margin-bottom: 5%;
	width: 10em;
	height: 10em;
	border: 2px solid black;
}

.seed {
	background-color: green;
  width: 30px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
	margin-top: 10em;
  position: relative;
  border-radius: 50%;
}

.trunk {
  background-color: #af6b16;
  position: absolute;
  width: 22px;
  height: 100px;
  margin-left: 96px;
  margin-top: 300px;
  transform: scaleY(4);
  -webkit-transform: scaleY(4);
  -moz-transform: scaleY(4);
  transform-origin: 100% 100%;
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;;
  animation: trunk 1s ease-in-out;
}

.branch1 {
	position: absolute;
	background-color: green;
  margin-left: 100px;
	width: 1%;
	height: 4%;
	opacity: .7;
	border-bottom-right-radius: 150%;
	transform: rotate(-40deg) scaleY(6);
  -webkit-transform: rotate(-40deg) scaleY(6);
  -moz-transform: rotate(-40deg) scaleY(6);
  transform-origin: top left;
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  animation: rightBranch1 ease-in-out 2s 1s;
  animation-fill-mode: backwards;
}

/*.branch1b {
  position: absolute;
  background-color: green;
  margin-left: 100px;
  width: 14px;
  height: 20px;
  opacity: .5;
  border-bottom-right-radius: 150%;
  transform: rotate(-38deg) scaleY(6);
  -webkit-transform: rotate(-38deg) scaleY(6);
  -moz-transform: rotate(-38deg) scaleY(6);
  transform-origin: top left;
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  animation: rightwind 8s 3s infinite;
}*/

.branch2 {
	position: absolute;
	background-color: green;
  margin-left: 100px;
  opacity: .7;
	width: 1%;
	height: 4%;
	border-bottom-left-radius: 150%;
  transform: rotate(40deg) scaleY(6);
  -webkit-transform: rotate(40deg) scaleY(6);
  -moz-transform: rotate(40deg) scaleY(6);
  transform-origin: top right;
  -webkit-transform-origin: top right;
  -moz-transform-origin: top right;
  animation: leftBranch1 ease-in-out 2s 1s;
  animation-fill-mode: backwards;
}

.branch3 {
	background-color: green;
  margin-left: 100px;
  margin-top: 4em;
	width: 14px;
	height: 20px;
	position: absolute;
	opacity: .7;
	border-bottom-right-radius: 150%;
	transform: rotate(-40deg) scaleY(7);
  -webkit-transform: rotate(-40deg) scaleY(7);
  -moz-transform:    rotate(-40deg) scaleY(7);
  transform-origin: top left;
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  animation: rightBranch2 ease-in-out 2s 1.3s;
  animation-fill-mode: backwards;
}

.branch4 {
	position: absolute;
	background-color: green;
  margin-left: 100px;
  margin-top: 4em;
  opacity: .7;
	width: 14px;
	height: 20px;
	border-bottom-left-radius: 150%;
  transform: rotate(40deg) scaleY(7);
  -webkit-transform: rotate(40deg) scaleY(7);
  -moz-transform:    rotate(40deg) scaleY(7);
  transform-origin: top right;
  -webkit-transform-origin: top right;
  -moz-transform-origin: top right;
  animation: leftBranch2 ease-in-out 2s 1.3s;
  animation-fill-mode: backwards;
}

.branch5 {
	background-color: green;
  margin-left: 100px;
  margin-top: 9em;
	width: 14px;
	height: 20px;
	position: absolute;
	opacity: .7;
	border-bottom-right-radius: 150%;
	transform: rotate(-40deg) scaleY(9);
  -webkit-transform: rotate(-40deg) scaleY(9);
  -moz-transform:    rotate(-40deg) scaleY(9);
  transform-origin: top left;
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  animation: rightBranch3 ease-in 1.5s 1.6s;
  animation-fill-mode: backwards;
}

.branch6 {
	position: absolute;
	background-color: green;
  margin-left: 100px;
  margin-top: 9em;
  opacity: .7;
	width: 14px;
	height: 20px;
	border-bottom-left-radius: 150%;
  transform: rotate(40deg) scaleY(9);
  -webkit-transform: rotate(40deg) scaleY(9);
  -moz-transform:    rotate(40deg) scaleY(9);
  transform-origin: top right;
  -webkit-transform-origin: top right;
  -moz-transform-origin: top right;
  animation: leftBranch3 ease-in 1.5s 1.6s;
  animation-fill-mode: backwards;
}

.branch7 {
	background-color: green;
  margin-left: 100px;
  margin-top: 14em;
	width: 14px;
	height: 20px;
	position: absolute;
	opacity: .7;
	border-bottom-right-radius: 150%;
	transform: rotate(-40deg) scaleY(10);
  -webkit-transform: rotate(-40deg) scaleY(10);
  -moz-transform:    rotate(-40deg) scaleY(10);
  transform-origin: top left;
    -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  animation: rightBranch4 ease-in 1.5s 1.8s;
  animation-fill-mode: backwards;
}

.branch8 {
	position: absolute;
	background-color: green;
  margin-left: 100px;
  margin-top: 14em;
  opacity: .7;
	width: 14px;
	height: 20px;
	border-bottom-left-radius: 150%;
  transform: rotate(40deg) scaleY(10);
  -webkit-transform: rotate(40deg) scaleY(10);
  -moz-transform:    rotate(40deg) scaleY(10);
  transform-origin: top right;
  -webkit-transform-origin: top right;
  -moz-transform-origin: top right;
  animation: leftBranch4 ease-in 1.5s 1.8s;
  animation-fill-mode: backwards;
}

.invisible {
  color: white;
}

@media (max-width:1150px) {
  .tree-container {
    margin-bottom: 42%;
  }
}

@media (max-width:755px) {
  .trunk {
    margin-top: 150px;
    width: 18px;
    transform: scaleY(2.5);
    -webkit-transform: scaleY(2.5);
    -moz-transform: scaleY(2.5);
  }

  .branch1 {
    transform: rotate(-40deg) scaleY(3);
    -webkit-transform: rotate(-40deg) scaleY(3);
    -moz-transform: rotate(-40deg) scaleY(3);
  }

  .branch2 {
    transform: rotate(40deg) scaleY(3);
    -webkit-transform: rotate(40deg) scaleY(3);
    -moz-transform: rotate(40deg) scaleY(3);
  }

   .branch3 {
    margin-top: 2.8em;
    transform: rotate(-40deg) scaleY(4);
    -webkit-transform: rotate(-40deg) scaleY(4);
    -moz-transform: rotate(-40deg) scaleY(4);
  }

  .branch4 {
    margin-top: 2.8em;
    transform: rotate(40deg) scaleY(4);
    -webkit-transform: rotate(40deg) scaleY(4);
    -moz-transform: rotate(40deg) scaleY(4);
  }

  .branch5 {
    margin-top: 5.5em;
    transform: rotate(-40deg) scaleY(5);
    -webkit-transform: rotate(-40deg) scaleY(5);
    -moz-transform: rotate(-40deg) scaleY(5);
  }

  .branch6 {
    margin-top: 5.5em;
    transform: rotate(40deg) scaleY(5);
    -webkit-transform: rotate(40deg) scaleY(5);
    -moz-transform: rotate(40deg) scaleY(5);
  }

  .branch7 {
    margin-top: 8.5em;
    transform: rotate(-40deg) scaleY(9);
    -webkit-transform: rotate(-40deg) scaleY(6);
    -moz-transform: rotate(-40deg) scaleY(6);
  }

  .branch8 {
    margin-top: 8.5em;
    transform: rotate(40deg) scaleY(9);
    -webkit-transform: rotate(40deg) scaleY(6);
    -moz-transform: rotate(40deg) scaleY(6);
  }
}

/*.branch1 {
  position: absolute;
  background-color: green;
  margin-left: 100px;
  width: 14px;
  height: 20px;
  opacity: .7;
  border-bottom-right-radius: 150%;
  transform: rotate(-40deg) scaleY(6);
  -webkit-transform: rotate(-40deg) scaleY(6);
  -moz-transform: rotate(-40deg) scaleY(6);
  transform-origin: top left;
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  animation: rightBranch1 ease-in-out 2s 1s;
  animation-fill-mode: backwards;
}*/

@keyframes rightwind {
  0% { transform: rotate(-37deg) scaleY(6); transform-origin: top left; }
  50% { transform: rotate(-43deg) scaleY(6); transform-origin: top left; }
  100% { transform: rotate(-37deg) scaleY(6); transform-origin: top left; }
}

@keyframes trunk {
  0% {transform: scaleY(0); transform-origin: 100% 100%; }
  100%{transform: scaleY(4); transform-origin: 100% 100%;}
}

@keyframes rightBranch1 {
  0% { transform: rotate(-40deg) scaleY(0); transform-origin: top left; }
  100% { transform: rotate(-40deg) scaleY(6); transform-origin: top left; }
}

@keyframes leftBranch1 {
  0% { transform: rotate(40deg) scaleY(0); transform-origin: top right; }
  100% { transform: rotate(40deg) scaleY(6); transform-origin: top right; }
}


@keyframes leftBranch2 {
  0% { transform: rotate(40deg) scaleY(0); transform-origin: top right; }
  100% { transform: rotate(40deg) scaleY(7); transform-origin: top right; }
}

@keyframes rightBranch2 {
  0% { transform: rotate(-40deg) scaleY(0); transform-origin: top left; }
  100% { transform: rotate(-40deg) scaleY(7); transform-origin: top left; }
}

@keyframes rightBranch3 {
  0% { transform: rotate(-40deg) scaleY(0); transform-origin: top left; }
  100% { transform: rotate(-40deg) scaleY(9); transform-origin: top left; }
}

@keyframes leftBranch3 {
  0% { transform: rotate(40deg) scaleY(0); transform-origin: top right; }
  100% { transform: rotate(40deg) scaleY(9); transform-origin: top right; }
}

@keyframes rightBranch4 {
  0% { transform: rotate(-40deg) scaleY(0); transform-origin: top left; }
  100% { transform: rotate(-40deg) scaleY(10); transform-origin: top left; }
}

@keyframes leftBranch4 {
  0% { transform: rotate(40deg) scaleY(0); transform-origin: top right; }
  100% { transform: rotate(40deg) scaleY(10); transform-origin: top right; }
}

@keyframes leaves {
	0% {opacity: 0}
	100% {opacity: 1}
}

@keyframes rain {
	50% { transform: translateY(100%) }
	100% { transform: translateY(100%) }
}
